<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/config.css">
    <link rel="stylesheet" href="../../static/css/meets.css">
    <title>LOQ Meetings page</title>
</head>
<body>

    <section class="main_content">
        <div class="container">

        </div>
    </section>

    <nav>
        <div class="nav__container">
            
            <div class="nav__element">
                <a href="visited.html">
                    <img src="../../static/assets/img/visited.png" alt="">
                </a>
            </div>
            <div class="nav__element">
                <a href="meets.html">
                    <img src="../../static/assets/img/meets.png" alt="">
                </a>
            </div>
            <div class="nav__element">
                <a href="profile.html">
                    <img src="../../static/assets/img/profile.png" alt="">
                </a>
            </div>
        </div>
    </nav>
    
</body>
</html>