body {
    background: #fff;
}

.user_info {
    text-align: center;
}

.user_content {
    overflow: scroll;
    height: 62.5vh;
    width: 100%;
    background: #f2f2f2;
    border: 2px solid #d6d6d6;
    border-radius: 5%;
    position: fixed;
    bottom: 0;
    color: #fff;
}

.dark_block {
    width: 22%;
    height: 0.5vh;
    background: #4f4f4f;
    margin: 0 auto;
    border-radius: 15%;
    margin-top: 1.5vh;
    margin-bottom: 2.5vh;
}

.avatar {
    height: 20vh;
    border-radius: 15%;
    margin-top: 6vh;
    margin-bottom: 3vh;
}

.name {
    font-size: 5vw;
}

.status {
    font-size: 3.5vw;
    font-weight: 400;
}

.user_content input {
    width: 100%;
    background: #e6e6e6;
    font-size: 24px;
    color: #414141;
}

.content__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text__left {
    font-weight: 700;
}

.text__right {

}